profiles {
    process.cache = 'lenient'
    awsbatch {
      aws.batch.maxTransferAttempts = 8
      aws.batch.delayBetweenAttempts = '20 sec'
      aws.region = 'us-east-1'
      aws.client.storageEncryption = 'AES256'
      aws.client.maxConnections = 400
      aws.client.connectionTimeout = 10000
      process.queue = 'spot-Core-GWF'
      executor.name = 'awsbatch'
      process.container = 'ACCOUNT_NUM.dkr.ecr.us-east-1.amazonaws.com/ubuntu-test:latest'
    }
}
