profiles {
    process.cache = 'lenient'
    gls {
        process.executor = 'google-lifesciences'
        docker {
            enabled = true
            temp = 'auto'
        }
        google.project = 'PROJECT_ID'
        google.location = 'PROJECT_LOCATION' // 'us'
        google.region  = 'PROJECT_REGION'    // 'us-east1'
        google.lifeSciences.debug = true
        google.lifeSciences.preemptible = true
        google.lifeSciences.usePrivateAddress = true
        google.lifeSciences.sshDaemon = true
        google.lifeSciences.bootDiskSize = 100.GB
        google.enableRequesterPaysBuckets = true
        process {
            container = 'gcr.io/PROJECT_ID/samtools:latest'
        }
    }
}
