profiles {
    process.cache = 'lenient'
    gls {
        executor {
            name = 'google-lifesciences'
            queueSize = 100
        }
        docker {
            enabled = true
            temp = 'auto'
        }
        google.project = 'PROJECT_ID'
        google.location = 'PROJECT_LOCATION' // 'us'
        google.region  = 'PROJECT_REGION'    // 'us-east1'
        google.lifeSciences.debug = true
        google.lifeSciences.preemptible = true
        google.lifeSciences.usePrivateAddress = true
        google.lifeSciences.sshDaemon = false
        google.lifeSciences.bootDiskSize = 50.GB
        google.enableRequesterPaysBuckets = true
        process {
            container = 'gcr.io/PROJECT_ID/samtools:latest'
            maxRetries = 3

            withLabel: mock {
                machineType = 'n1-standard-1'
            }

            withLabel: test {
                machineType = 'n1-standard-1'
            }

            withLabel: mytest {
                disk = "10GB"
                machineType = 'n1-standard-1'
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            }
        }
    }
}
