profiles {
    process.cache = 'lenient'
    gls {
        executor {
            name = 'google-lifesciences'
            queueSize = 50
        }
        docker {
            enabled = true
            temp = 'auto'
        }
        google.project = 'PROJECT_ID'
        google.location = 'us' // 'us'
        google.region  = 'us-east1'    // 'us-east1'
        // google.zone = 'us-east1-c' 
        google.lifeSciences.debug = true
        google.lifeSciences.preemptible = true
        google.lifeSciences.usePrivateAddress = false
        google.lifeSciences.sshDaemon = false
        google.lifeSciences.bootDiskSize = 50.GB
        google.enableRequesterPaysBuckets = true
        google.lifeSciences.network = 'default'
        google.lifeSciences.subnetwork = 'default'
        process {
            container = 'us.gcr.io/PROJECT_ID/samtools:v1.10'
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            maxRetries = 3

            withLabel: mock {
                machineType = 'n1-standard-1'
                errorStrategy = { task.attempt == process.maxRetries ? 'ignore' : task.exitStatus in [3,9,10,14,143,137,104,134,139] ? 'retry' : 'ignore' }
            }

            withLabel: test {
                machineType = 'n1-standard-1'
            }

            withLabel: process_medium {
                accelerator = [request: 1, type: 'nvidia-tesla-k80']
                disk = "20GB"
                machineType = 'n1-standard-1'
                errorStrategy = { task.exitStatus==14 ? 'retry' : 'ignore' }
                maxRetries = 5
            }
        }
    }
}
